apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend-container
          image: 815856636579.dkr.ecr.us-west-2.amazonaws.com/shopping-site-backend:728f54992c26b6ed69cb915cabe5bd825b1bdb15
          ports:
            - containerPort: 5000
