apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend-container
          image: 995673420677.dkr.ecr.us-east-1.amazonaws.com/shopping-site-backend:c05bbe85c952b054f020a16a6a4084476ff838fb
          ports:
            - containerPort: 5000
